%h1 New company

- form_for(@company) do |f|
  = f.error_messages

  %dl
    %dt= f.label :name
    %dd= f.text_field :name 
    %dt= f.label :phone_number 
    %dd= f.text_field :phone_number 
    %dt= f.label :email_address
    %dd= f.text_field :email_address 
    %dt= f.label :url
    %dd= f.text_field :url
    %dt= f.label :address 
    %dd= f.text_area :address 
    %dt= f.label :vat_number
    %dd= f.text_field :vat_number 
    %dt= f.submit 'Create'

= link_to 'Back', companies_path 
