%h2 Listing products

%table
  %thead
    %tr
    %th Name
    %th Price
    %th Details

  %tbody
    - @products.each do |product|
      %tr
        %td=h product.name
        %td=h product.price 
        %td=h product.details 
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

  %tfoot
    %tr
      %td.centre{:colspan => 6}= will_paginate @products

= link_to 'New product', new_product_path 