<h1>Listing cling_groups</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @cling_groups.each do |cling_group| %>
  <tr>
    <td><%=h cling_group.name %></td>
    <td><%= link_to 'Show', cling_group %></td>
    <td><%= link_to 'Edit', edit_cling_group_path(cling_group) %></td>
    <td><%= link_to 'Destroy', cling_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cling_group', new_cling_group_path %>